<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileConvert</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="content">
    <p>请说明来意</p>
    <img style="height: 400px;width: 400;" src="../static/imgs/me.png"
         alt="Your Image Description Here" id="skm_img">
</div>
</body>
</html>